body {
    font-family: Arial, sans-serif;
    background: linear-gradient(0deg, #374471, #307c9d, #5eb2b5);
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    display: flex;
    padding: 0;
    margin: 0;
    animation: gradientAnimation 10s ease infinite;
}

header {
    width: 100%;
    height: 6%;
    background: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 20px;
    z-index: 1000; /* Поверх всех элементов */
}

#rulesButton,
#showLevelCondition {
    background-color: orange;
    border: none;
    padding: 10px 20px;
    color: #ffffff;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-left: 20px; /* Отступ слева */
}

#rulesButton:hover,
#showLevelCondition:hover {
    background-color: #ec7513;
}

h1 {
    text-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    margin-bottom: 80px;
    text-align: center;
    color: white;
    font-size: 40px;
    opacity: 0;
    animation: fadeIn 1s forwards;
}

#taskTextBox {
    border-radius: 15px;
    background-color: #FFFFF0;
    width: 60%;
    min-height: 50px; /* Ensure some space for the text */
    margin-top: 20px;
    color: #504f4e; /* Text color */
    padding: 10px;
    font-size: 18px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: box-shadow 0.3s ease;
    opacity: 0;
    animation: fadeIn 1s forwards;
    animation-delay: 1s;
}

#taskTextBox:hover {
    box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.1);
}

#inputContainer {
    border-radius: 15px;
    background-color: #FFFFF0;
    width: 60%;
    min-height: 50px; /* Ensure some space for the text */
    margin-top: 20px;
    color: #333; /* Text color */
    padding: 10px;
    font-size: 16px;
    text-align: center;
    transition: box-shadow 0.3s ease;
    opacity: 0;
    animation: fadeIn 1s forwards;
    animation-delay: 2s;
}

#inputContainer:hover {
    box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.1);
}

#inputContainer label {
    visibility: hidden;
    font-size: 16px;
    color: #333; /* Dark gray label text */
    margin-bottom: 5px;
}

#userInput {
    visibility: hidden;
}

#requestGetTask {
    transition: background-color 0.3s;
    background-color: #f2ac0e;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 40px;
    font-size: 16px;
    cursor: pointer;
    color: #ffffff;
    border: none;
    opacity: 0;
    animation: fadeIn 1s forwards;
    animation-delay: 3s;
}

#requestGetTask:hover {
    background-color: #ec7513;
}

.arrow {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #f2ac0e;
    margin-top: 10px;
    opacity: 0;
    animation: fadeIn 1s forwards, arrowBounce 1s infinite;
    animation-delay: 4s, 5s;
    rotate: 180deg;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

@keyframes arrowBounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}

/* Responsive Design for Mobile */
@media (max-width: 768px) {
    #responseContainer {
        width: 90%;
    }
    #sendRequest {
        font-size: 14px;
        padding: 8px 16px;
    }
}

.popup {
    display: none; /* Скрыто по умолчанию */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Полупрозрачный фон */
    z-index: 1000; /* Поверх всех элементов */
}

.popup-content {
    position: relative;
    margin: 15% auto;
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    width: 80%;
    max-width: 500px;
    text-align: center;
}

.popup-close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}
